[Unit]
Description=Monero Mining
After=network.target

[Service]
User=root
ExecStart=~/xmr-stak-cpu/bin/xmr-stak-cpu ~/xmr-stak-cpu/bin/config.txt

[Install]
WantedBy=multi-user.target
